<html>
   <head>

    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="Home Style.css">
       </head>

       <body class="background">
      <script>
      function Signin() {
        location.replace("Sign in.html")
                        }
      function Signup() {
        location.replace("Sign up.html")
                        }
               </script>

<div class="row">
  <div class="column1" style="background-color:#F5F5DC;">
    <a href="Home.html">
      <img data-v-0df74896="" id="kidzieLogo" src="Kidzie Logo 3.png" text-align="left top" style="width: 8.5%;">
      </a>
  </div>
  <div class="column2" style="background-color:#be9428">
  </div>
</div>

          <br><br><br><br><br><br><br>
          <p class="welcome"> Welcome to Kidzie</p>
          <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             Kidzie is an online platform for kids fashion. It is neither the first in its kind,<br>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             nor the last in its industry, yet Kidzie comes to outstand, lead and be different.<br>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Based on a revolutionary business model, Kidzie forms a global digital marketplace<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        that links worldwide customers with carefully curated products provided<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            by a wide network of top-class independent boutiques.<br>
            </h4>
            
          <button onclick="Signin()" class="button1">Sign in</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button onclick="Signup()" class="button1">Sign up</button>
          
          <div class="footer">
            <p> &nbsp;&nbsp; Kidzie International</p>
            <div class="social-media">
              <a href="https://www.facebook.com/kidzie.ca/" class="fa fa-facebook"></a>
              <a href="https://twitter.com/kidziedotcom?lang=en" class="fa fa-twitter"></a>
              <a href="https://www.linkedin.com/company/kidzie-international/?originalSubdomain=ca" class="fa fa-linkedin"></a>
              <a href="https://www.instagram.com/kidzie.ca/?hl=en" class="fa fa-instagram"></a>
            </div>
          </div> 
       </body> 
</html>