<html>
   <head>

    <title>Sales Partner</title>
    <link rel="stylesheet" type="text/css" href="Sales Partner Page Style.css">
    
    </head>
    <body style="background-color: #F5F5DC;">
      <div class="row">
        <div class="column1 left" style="background-color:#F5F5DC;">
          <a href="Home.html">
            <img data-v-0df74896="" id="kidzieLogo" src="Kidzie Logo 3.png" text-align="left top" style="width: 8.5%;">
            </a>
        </div>
        <div class="column2 left" style="background-color:#be9428">
        </div>
      </div>

          <p class= "form"> Sales </p>
<br>
       <form action="#" method="POST" class="form1" style="background-color: #F5F5DC;">
         <br>
		<label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Kidzie ID &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span></label>
        <input type="number" style="background-color:#F5F5DC;" pattern="[0-9]" name="ID" required/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Products added <span class="required">*</span></label>
         <input placeholder="From" style="background-color:#F5F5DC;width: 180px;" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">
         <input placeholder="To" style="background-color:#F5F5DC;width: 180px;" class="textbox-n" type="text" onfocus="(this.type='date')" id="date"><br/></br/>
		<label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Prouduct Group <span class="required">*</span></label>
		<select name="product group" style="background-color:#F5F5DC;" >
    <option value="">Please Select</option>
		<option value="1">-</option>
		<option value="2">-</option>
		</select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; On Sale? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span></label>
		<select name="on sale" style="background-color:#F5F5DC;" >
    <option value="">Please Select</option>
        <option value="1">Yes</option>
		<option value="2">No</option>
		</select><br/></br/> &nbsp;&nbsp;&nbsp;&nbsp;
    <label class="label">  Age Group &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span></label>
		<select name="age group" style="background-color:#F5F5DC;" >
            <option value="">Please Select</option>
      <option value="1">-</option>
      <option value="2">-</option>
   
		</select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label class="label">  Sale % &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span></label>
		<select name="sale" style="background-color:#F5F5DC;" >
            <option value="">Please Select</option>
            <option value="1">5%</option>
            <option value="2">10%</option>
            <option value="3">15%</option>
            <option value="4">20%</option>
            <option value="5">25%</option>
            <option value="6">30%</option>
            <option value="7">35%</option>
            <option value="8">40%</option>
            <option value="9">45%</option>
            <option value="10">50%</option>
            <option value="11">55%</option>
            <option value="12">60%</option>
            <option value="13">65%</option>
            <option value="14">70%</option>
            <option value="15">75%</option>
            <option value="16">80%</option>
   
		</select><br/></br/> 
        <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Gender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span></label>
		<select name="Gender" style="background-color:#F5F5DC;" >
    <option value="">Please Select</option>
		<option value="1">Male</option>
		<option value="0">Female</option>
		</select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Designer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="required">*</span></label>
		<select name="designer" style="background-color:#F5F5DC;" >
    <option value="">Please Select</option>
		<option value="1">-</option>
		<option value="2">-</option>
		</select><br/></br/> 
        <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Categories &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="required">*</span></label>
		<div id="list1" class="dropdown-check-list" tabindex="100">
            <span class="anchor">Please Select</span>
            <ul class="items">
              <li><input type="checkbox" style="position: relative; right: 110px;"/>Shirts </li>
              <li><input type="checkbox" style="position: relative; right: 110px;"/>Polos</li>
              <li><input type="checkbox" style="position: relative; right: 110px;"/>T-Shirts</li>
              <li><input type="checkbox" style="position: relative; right: 110px;"/>Graphics</li>
              <li><input type="checkbox" style="position: relative; right: 110px;"/>Blouses</li>
            </ul>
          </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; General Search <span class="required">*</span></label>
        <input type="text" style="background-color:#F5F5DC;" pattern="[A-Za-z0-9]+" name="general search" required/>   
        <br><br><br><br><br>
    
    <input class="button button1 button3" type="submit" value="Search"/><br/><br/><br><br>
</form>

<p class= "form2"> </p>
<br/><br/><br><br><br/><br/><br><br><br/><br/><br><br><br/><br/><br><br><br/><br/><br><br><br/><br/><br><br><br/><br/><br><br>
<form>
<div style="overflow-x:auto; position: relative; left: 200px;">
    <table>
      <tr>
        <th>Picture & Details</th>
        <th>On Sale?</th>
        <th>Sales Starts</th>
        <th>Sale Ends</th>
        <th>Sale%</th>
        <th style="position: relative;right: -90px;">Select All<input type="checkbox" name="name1" style="position: relative; right: 120px;" />&nbsp;</th>
      </tr>
      <tr>
        <td><img src="The Love of the dream dress.jpg" alt=""  height=100 width=100></img> DOLCE & GABBANA <br> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Love Of Dreams Dress</td>
        <td>Yes</td>
        <td>01-11-2018</td>
        <td>01-12-2018</td>
        <td>30%</td>
        <td><input type="checkbox" name="name1" style="position: relative; left: -35px;" />&nbsp;</td>
      </tr>
      <tr>
        <td><img src="Gucci.webp" alt=""  height=100 width=100></img> GUCCI <br> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Love Of Dreams Bodysuit</td>
        <td>Yes</td>
        <td>01-11-2018</td>
        <td>01-12-2018</td>
        <td>20%</td>
        <td><input type="checkbox" name="name1" style="position: relative; left: -35px;" />&nbsp;</td>
      </tr>
      <tr>
        <td><img src="Gucci 2.jpg" alt=""  height=100 width=100></img> GUCCI <br> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Love Of Dreams Sweater</td>
        <td>No</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td><input type="checkbox" name="name1" style="position: relative; left: -35px;" />&nbsp;</td>
      </tr>
      <tr>
        <td><img src="Burberry.jpeg" alt=""  height=100 width=100></img>  BURBERRY <br> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Love Of Dreams Shirts</td>
        <td>No</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td><input type="checkbox" name="name1" style="position: relative; left: -35px;" />&nbsp;</td>
      </tr>
    </table>
  </div>
  <br><br><br>
  <input class="button button1 button3" type="submit" value="Remove Sale" style="position: relative; left: 860px"/>
  
  <input class="button button1 button3" type="submit" value="Add Sale" style="position: relative; left: 860px"/><br/><br/><br><br>
  </form>
  <br/><br/><br><br>
  <p class= "form"> Adding Sale </p>
<br>
<form action="#" method="POST" class="form1">
  <br>
<label class="label"> &nbsp;&nbsp; Sale Starts &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <span class="required">*</span></label>
<input placeholder="From" style="background-color:#F5F5DC;width: 250px;" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;
  <label class="label">  Sale % &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="required">*</span></label>
  <select name="sale" style="background-color:#F5F5DC;" >
          <option value="">Please Select</option>
          <option value="1">5%</option>
          <option value="2">10%</option>
          <option value="3">15%</option>
          <option value="4">20%</option>
          <option value="5">25%</option>
          <option value="6">30%</option>
          <option value="7">35%</option>
          <option value="8">40%</option>
          <option value="9">45%</option>
          <option value="10">50%</option>
          <option value="11">55%</option>
          <option value="12">60%</option>
          <option value="13">65%</option>
          <option value="14">70%</option>
          <option value="15">75%</option>
          <option value="16">80%</option>
 
  </select><br/></br/> 

  <label class="label"> &nbsp;&nbsp; Sale Ends &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span></label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input placeholder="To" style="background-color:#F5F5DC;width: 250px;" class="textbox-n" type="text" onfocus="(this.type='date')" id="date">

  <br><br>
  <input class="button button1 button4" type="submit" style="position: relative;left: 920px;" value="Save"/><br/><br/><br><br>

  <input class="button button1 button2" type="submit"  value="Cancel"/>
</form>

<script>

var checkList = document.getElementById('list1');
checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
  if (checkList.classList.contains('visible'))
    checkList.classList.remove('visible');
  else
    checkList.classList.add('visible');
}
    </script>
         <div class="sidenav">
          <a href="Home.html">Home</a>
          <a href="Profile.html">Profile</a>
          <a href="#">Kidzie Catalouge</a>
          <a href="#">Inventory Control</a>
          <a href="Sales Partner Page.html">Sales</a>
          <a href="Promo Codes Page.html">Promo Codes</a>
          <a href="#" class="active">Orders</a>
          <a href="#" class="active">Reports</a>
          <a href="#" class="active">Products</a>
          <a href="#" class="active">Returns</a>
          <a href="#" class="active">Shipments</a>
          <a href="#" class="active">Statements</a>
          <a href="#" class="active">Partners</a>
          <a href="#" class="active">Teams</a>
          <a href="#" class="active">Communications</a>
          <a href="Sign in.html" class="active">Logout</a>
        </div>
          <div class="footer">
            <p> &nbsp;&nbsp; Kidzie International</p>
            <div class="social-media">
              <a href="https://www.facebook.com/kidzie.ca/" class="fa fa-facebook"></a>
              <a href="https://twitter.com/kidziedotcom?lang=en" class="fa fa-twitter"></a>
              <a href="https://www.linkedin.com/company/kidzie-international/?originalSubdomain=ca" class="fa fa-linkedin"></a>
              <a href="https://www.instagram.com/kidzie.ca/?hl=en" class="fa fa-instagram"></a>
            </div>
          </div> 
        
    </body>
