<!DOCTYPE html>
<html>
<head>
    <title>Sign up Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="Sign up Style.css">
</head>

<body>           
<p style="position: absolute; top: 8px;left: 16px;">Home /Employee account /Profile</p>
  <div class="row">
    <div class="column1 left" style="background-color:#F5F5DC;">
      <a href="Home.html">
        <img data-v-0df74896="" id="kidzieLogo" src="Kidzie Logo 3.png" text-align="left top" style="width: 8.5%;">
        </a>
    </div>
    <div class="column2 left" style="background-color:#be9428">
    </div>
  </div>

<p class= "form"> General Information</p>
<br>
       <form action="#" method="POST" class="form1">
         <br>
		<label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; First Name<span class="required">*</span></label>
        <input type="text" style="background-color:#F5F5DC;" pattern="[A-Za-z]+" name="UserName" required/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Phone<span class="required">*</span></label>
        <input type="tel"  style="background-color:#F5F5DC;" pattern="[0-9]{11}" name="PhoneNumber" required/><br/></br/>
		<label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Last Name<span class="required">*</span></label>
    <input type="text" style="background-color:#F5F5DC;" pattern="[A-Za-z]+" name="UserName" required/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Gender<span class="required">*</span></label>
		<select name="Gender" style="background-color:#F5F5DC;" >
    <option value="">Please Select</option>
		<option value="1">Male</option>
		<option value="0">Female</option>
		</select><br/></br/> 
		<label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Email<span class="required">*</span></label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="email" style="background-color:#F5F5DC;" name="Email" required/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label class="label">  Country<span class="required">*</span></label>
		<select name="country" style="background-color:#F5F5DC;" >
    <option value="">Select a Country</option>
		<option>USA</option>
		<option>Egypt</option>
		<option>KSA</option>
		<option>Lebanon</option>
		<option>UK</option>
		</select><br/></br/> 
    <input class="button button1 button3" type="submit" value="Save"/><br/><br/><br><br>
    
    <input class="button button1 button2" type="submit" value="Cancel"/>
</form>

<p class= "form"> Account Information</p>
<br>
       <form action="#" method="POST" class="form1">
         <br>
     <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; User Name<span class="required">*</span></label>
         <input type="text" style="background-color:#F5F5DC;" pattern="[A-Za-z]+" name="UserName" required/>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
         <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Old Password<span class="required">*</span></label>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="password" style="background-color:#F5F5DC;" name="Password" required/><br/><br/>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

         <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; New Password<span class="required">*</span></label>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="password" style="background-color:#F5F5DC;" name="Password" required/><br/><br/>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

         <label class="label"> &nbsp;&nbsp;&nbsp;&nbsp; Confirm Password<span class="required">*</span></label>
         <input type="password" style="background-color:#F5F5DC;" name="Password" required/><br/><br/>

         
         <input class="button button1 button4" type="submit" value="Save"/><br/><br/><br><br>
    
         <input class="button button1 button2" type="submit" value="Cancel"/>
</form>
<br> <br>

<div class="sidenav">
  <a href="Home.html">Home</a>
  <a href="#">Profile</a>
  <a href="#">Kidzie Catalouge</a>
  <a href="#">Inventory Management</a>
  <a href="#" class="active">Orders</a>
  <a href="#" class="active">Reports</a>
  <a href="#" class="active">Products</a>
  <a href="#" class="active">Returns</a>
  <a href="#" class="active">Shipments</a>
  <a href="#" class="active">Statements</a>
  <a href="#" class="active">Partners</a>
  <a href="#" class="active">Teams</a>
  <a href="#" class="active">Communications</a>
  <a href="#" class="active">Logout</a>
</div>

<div class="footer">
  <p> &nbsp;&nbsp; Kidzie International</p>
  
  <div class="social-media">
  <a href="https://www.facebook.com/kidzie.ca/" class="fa fa-facebook"></a>
  <a href="https://twitter.com/kidziedotcom?lang=en" class="fa fa-twitter"></a>
  <a href="https://www.linkedin.com/company/kidzie-international/?originalSubdomain=ca" class="fa fa-linkedin"></a>
  <a href="https://www.instagram.com/kidzie.ca/?hl=en" class="fa fa-instagram"></a>
  </div>
  </div> 
</body>
</html>
