<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="Sign in Style.css">
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="background">
    <div class="row">
        <div class="column1" style="background-color:#F5F5DC;">
          <a href="Home.html">
            <img data-v-0df74896="" id="kidzieLogo" src="Kidzie Logo 3.png" text-align="left top" style="width: 8.5%;">
            </a>
        </div>
        <div class="column2" style="background-color:#be9428">
        </div>
      </div>
      
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><a href="https://en-gb.facebook.com/"></a><i class="fa fa-facebook-square"></i></span>
					<span><a href="https://en-gb.facebook.com/"></a><i class="fa fa-google-plus-square"></i></span>
					<span><a href="https://twitter.com/login"></a><i class="fa fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form action="Profile.html">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" pattern="[A-Za-z]+" class="form-control" placeholder="username" required>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" required>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="Sign up.html">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="Sign up.html">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
<br> <br>
<div class="footer">
	<p> &nbsp;&nbsp; Kidzie International</p>
	
	<div class="social-media">
	<a href="https://www.facebook.com/kidzie.ca/" class="fa fa-facebook"></a>
	<a href="https://twitter.com/kidziedotcom?lang=en" class="fa fa-twitter"></a>
	<a href="https://www.linkedin.com/company/kidzie-international/?originalSubdomain=ca" class="fa fa-linkedin"></a>
	<a href="https://www.instagram.com/kidzie.ca/?hl=en" class="fa fa-instagram"></a>
	</div>

	</div> 
</body>
</html>